{%- extends "base.html" %}
{%- from "common_macros/macro.html" import render_flash_msg, add_form_div with context %}
{%- block title %}{{ '忘记密码'|addlt }}{{ config.SITE_NAME }}{% endblock -%}
{%- block content %}
<div class="container">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default">
      <div class="panel-heading">通过Email重置</div>
      	<div class="panel-body">
      	{{ render_flash_msg() }}
      		<form role="form" method="POST" action="{{ url_for('account.recover') }}">
          	{{ form.hidden_tag() }}
          	{{ add_form_div('email') }}
            <div class="input-group{% if form.captcha.errors %} has-error {% endif %}">
              {{ form.captcha(class='form-control', placeholder=form.captcha.label.text ) }}
            	<span style="background: #fff; padding: 0;" class="input-group-addon">
            		<a href="#new"><img class="get-new" src="{{ url_for('account.create_captcha') }}"></a>
            	</span>
            </div>
            <p class="text-danger help-block">{{ form.captcha.errors[0] }}</p>
          	<button type="submit" class="btn btn-md btn-primary">提交</button>
      		</form>
      </div>
    </div>
	</div>
	<script>
		function newCaptcha() {
			d = new Date();
			$('.get-new').attr('src', '{{ url_for('account.create_captcha') }}' + '?' + d.getTime());
		};

		$(document).ready(newCaptcha);
		$(document).on('click', '.get-new', newCaptcha);
	</script>
</div>
{% endblock -%}
