{%- extends "base.html" %}
{%- from "common_macros/macro.html" import render_flash_msg, add_form_div with context %}
{%- block title %}{{ '重置密码'|addlt }}{{ config.SITE_NAME }}{% endblock -%}
{%- block content %}
<div class="container">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default">
      <div class="panel-heading">输入新密码</div>
      	<div class="panel-body">
      	{{ render_flash_msg() }}
      		<form role="form" method="POST" action="{{ url_for(request.endpoint, token=request.view_args['token']) }}">
          	{{ form.hidden_tag() }}
            {{ add_form_div('password') }}
            {{ add_form_div('confirm_password') }}
          	<button type="submit" class="btn btn-md btn-primary">提交</button>
      		</form>
      </div>
    </div>
	</div>
</div>
{% endblock -%}
